html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.gps {
  background: center no-repeat url(../images/point.svg);
}

.basket {
  background: center no-repeat url(../images/basket.svg);
}

.search {
  background: center no-repeat url(../images/search.svg);
}

.World {
  background: center no-repeat url(../images/world.svg);
}

.Facebook {
  background: center no-repeat url(../images/facebook.svg);
  height: 25px;
}

.Instagram {
  background: center no-repeat url(../images/instagram.svg);
  height: 25px;
}

.Twitter {
  background: center no-repeat url(../images/twitter.svg);
  height: 25px;
}

.play-market {
  background: top / contain no-repeat url(../images/en_badge_web_generic-cf6dad406f.svg);
  height: 43px;
}

.app-store {
  background: top / contain no-repeat url(../images/Download_on_the_App_Store_Badge_US-UK_RGB_blk.svg);
  height: 43px;
}

.place-card {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #1d1d1d;
  min-height: 369px;
  transition: background-color 0.5s ease;
}

.place-card:hover {
  background-color: rgba(117, 117, 117, 0.14);
  transition: background-color 0.5s ease;
  color: #1d1d1d;
  text-decoration: none;
}

.place-card__image {
  position: relative;
  margin-bottom: 16px;
}

.place-card__image img {
  display: block;
  width: 100%;
}

.place-card__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
}

.place-card__kitchen {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.place-card__about {
  display: flex;
  font-size: 13px;
  line-height: 21px;
  margin-right: 4px;
}

.place-card__sale {
  position: absolute;
  right: -10px;
  top: 10px;
  padding: 6px 10px;
  width: 250px;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #734BDA;
}

.star {
  margin: 0px 4px 2px 4px;
}

.place-card__duration {
  min-width: 75.53px;
  /* margin-right: 14.9px; */
}

.place-card__button {
  position: absolute;
  background: center no-repeat url(../images/heart.svg);
  bottom: 10px;
  right: 10px;
  height: 20px;
  width: 22px;
  border: none;
}

.place-card__about>div:first-child {
  margin-right: 15px;
}

.disabled {
  display: none;
}

.foter__bottom-link {
  font-size: 11px;
}

.foter__middle-link {
  font-size: 13px;
}

.button-up {
  background: center / contain no-repeat url(../images/btn-up.svg);
  width: 80px;
  height: 80px;
  position: fixed;
  right: 16px;
  bottom: 24px;
}